@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
