@mixin displayIcon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin socialNetworkBtn {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
