$ligthText: #fff;
$darkText: #2B2B2B;
$mainColor: #536758;
$greyText: #939393;
$blackBG: #2A2A2A;
$cardBorder: #E5E5E5;
$greyDark: #2B2B2B;

$trendsBG: #F9F9F9;
$filtersBorder: #D8D8D8;

$contactsText: #BCC4BF;
$navHover: #aaa;
$formPlaceholder: #CBD1CD;
$inputBorder: #758579;
$shopArrow: #E4E4E4;
